{% block content %}

<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2021 Gates N Fences </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">LAOrnamental@Aol.com</span>
				<span  class="px-2">Office: 305-696-0419</span>
				<span  class="px-2">Address: 3708 NW 82nd Street  Miami  Florida  33147</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

{% endblock %}